:root {
  --cor1: #363b75;
  --cor2: #bbc0f7;
  --cor3: #707bf5;
  --cor4: #595b75;
  --cor5: #5962c2;
  --cor6: #75562f;
  --cor7: #f7d5ad;
  --cor8: #f5b362;
  --cor9: #756552;
  --cor10: #c28e4d;

  --cor11: #fff;
  --cor12: #fcf5eb;
  --cor13: #101010;
  --cor14: #252525;
}

* {
}

body {
  background-color: #252525;
  color: #fff;
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #bbc0f7;
}

.light-bg-color {
  background-color: #fff;
}

.dark-bg-color {
  background-color: #101010;
}
.primary-color {
  color: #707bf5;
}

.secondary-color {
  color: #252525;
}

.light-color {
  color: #fcf5eb;
}

/* NAV */
#navbar .navbar-nav {
  flex-direction: row;
  justify-content: end;
}

#navbar .navbar-nav li {
  margin-left: 1em;
}

#navbar a,
#navbar button {
  color: #fcf5eb;
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5962c2;
  text-align: center;
}

#bag-item span {
  left: 20px;
}

.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
}

#navbar-items {
  justify-content: space-between;
}

#search-form {
  width: 100%;
  margin: 2em 0;
  border: 1px solid #bbc0f7;
  border-radius: 3px;
  padding: 5px 15px;
}

#search-form input {
  background-color: transparent;
  border: none;
  color: #fff;
}

#search-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder {
  color: #fff;
}
/* NAV */

/* bottom navbar */
#bottom-navbar-container .container {
  justify-content: flex-end;
}

#bottom-navbar-container a {
  font-weight: 600;
  color: #363b75;
}

.navbar-toogler {
  font-size: 1.5em;
}

/* banners */

#banners-container {
  padding: 0;
}
.carousel-caption {
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
}

.carousel-caption h5 {
  font-size: 1.8em;
}

#mini-banners {
  margin-top: -3em;
  z-index: 10;
}

#mini-banners .col-12 {
  z-index: 1;
  height: 300px;
  padding: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mini-banners .col-12 h2 {
  text-transform: uppercase;
  max-width: 50px;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1em;
}

#mini-banners .col-12 img {
  height: 220px;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

#mini-banners .col-12 a {
  font-weight: bold;
  color: #fff;
  font-size: 0.8em;
  transition: 0.5s;
}

#mini-banners .col-12 a:hover {
  color: #101010;

}

#mini-banners #mini-banner-1 a:hover,
#mini-banners #mini-banner-3 a:hover {
  color: #c28e4d;
}

#mini-banners #mini-banner-3 a {
  color: #101010;
}

#best-sellers{
  padding: 4em 0;
}

#best-sellers .row{
  margin: 0;
}
#best-sellers .col-md-3{
  padding: 0;
}

.title{
  text-decoration:uppercase;
  font-size: 900;
  font-size: 2.5em;
  margin-bottom: 1em ;
  text-align: center;
}

.card{
  text-align: center;
  border-radius: 0;
}

.card img{
width: 140px;
margin: 2em auto;
}

.card .card-category{
  font-size:0.8em;
}
.card .card-text{
  margin: 2em 0;
  font-weight: bold;
}
.btn{
  background-color: transparent;
  border-color: #f5b362;
}

.btn:hover{ 
  background-color:#f5b362;
  border-color: #f5b362;
}


@media (min-width: 768px) {
  #search-form {
    width: 50%;
    margin: 0;
  }

  #navbar-items {
    min-width: 80%;
    display: flex;
  }

  .navbar-brand {
    text-align: left;
  }

  #slider .carousel-item,
  #slider img {
    height: 600px;
  }

  .carousel-caption {
    left: 23%;
    right: 23%;
  }

  .carousel-caption h5 {
    font-size: 4em;
  }

  #mini-banners .col-12 {
    max-width: 30%;
  }

  .title{
    text-align: left;
  }
}
