:root {
  --cor1: #363b75;
  --cor2: #bbc0f7;
  --cor3: #707bf5;
  --cor4: #595b75;
  --cor5: #5962c2;
  --cor6: #75562f;
  --cor7: #f7d5ad;
  --cor8: #f5b362;
  --cor9: #756552;
  --cor10: #c28e4d;

  --cor11: #fff;
  --cor12: #fcf5eb;
  --cor13: #101010;
  --cor14: #252525;
}

* {
}

body {
  background-color: #252525;
  color: #fff;
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #5962c2;
}

.light-bg-color {
  background-color: #75562f;
}

.dark-bg-color {
  background-color: #101010;
}
.primary-color {
  color: #707bf5;
}

.secondary-color {
  color: #626262;
}

.light-color {
  color: #fcf5eb;
}

/* NAV */
#navbar .navbar-nav {
  flex-direction: row;
  justify-content: center;
}

#navbar .navbar-nav li {
  margin-left: 1em;
}

#navbar a,
#navbar button {
  color: #fcf5eb;
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5962c2;
  text-align: center;
  
}

#bag-item span {
  left: 20px;
}

.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
  
}

#navbar-items {
  justify-content: space-between;
  
}

#search-form,
#news-form {
  width: 100%;
  margin: 2em 0;
  
  
}

#search-form,
#news-form {
  border: 2px solid #bbc0f7;
  border-radius: 3px;
  padding: 5px 15px;
  
}

#search-form input,
#news-form input {
  background-color: transparent;
  border: none;
  color: #fff;
}

#search-form input:focus,
#news-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
  color: #fff;
  
}
/* NAV */

/* bottom navbar */
#bottom-navbar-container .container {
  justify-content: flex-end;
  
}

#bottom-navbar-container a {
  font-weight: 600;  
  color: #fff;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.navbar-toogler {
  font-size: 1.5em;
  
}

/* banners */

#banners-container {
  padding: 0;
  
}
.carousel-caption {
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
  
}
.primary-bg-color{
  background-color: rgba(0, 0, 0, 0.488);
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.carousel-caption h5 {
  font-size: 1.5em;
  
}

#mini-banners {
  margin-top: -3em;
  z-index: 10;
  
}

#mini-banners .col-12 {
  z-index: 1;
  height: 300px;
  padding: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mini-banners .col-12 h2 {
  text-transform: uppercase;
  max-width: 50px;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1em;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

#mini-banners .col-12 img {
  height: 220px;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

#mini-banners .col-12 a {
  font-weight: bold;
  color: #fff;
  font-size: 0.8em;
  transition: 0.5s;
}

#mini-banners .col-12 a:hover {
  color: #101010;

}

#mini-banners #mini-banner-1 a:hover,
#mini-banners #mini-banner-3 a:hover {
  color: #c28e4d;
}

#mini-banners #mini-banner-3 a {
  color: #101010;
}

#best-sellers{
  padding: 4em 0;
}

#best-sellers .row{
  margin: 0;
}
#best-sellers .col-md-3{
  padding: 0;
}

.title{
  text-decoration:uppercase;
  font-size: 900;
  font-size: 2.5em;
  margin-bottom: 1em ;
  text-align: center;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.card{
  text-align: center;
  border-radius: 0;
}

.card img{
width: 140px;
margin: 2em auto;
}

.card .card-category{
  font-size:0.8em;
}
.card .card-text{
  margin: 2em 0;
  font-weight: bold;
}
.btn{
  background-color: transparent;
  border-color: #f5b362;
}

.btn:hover{ 
  background-color:#f5b362;
  border-color: #f5b362;
}

#bottom-banner{
  background-color: #101010;
  padding: 6em;
  margin-bottom: 4em;
  text-align: center;
}

#bottom-banner .offer-subtitle,
#bottom-banner h2{
  font-size:35px ;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 2px 2px rgb(0, 0, 0);

}

#bottom-banner p{
  font-size:30px;
  text-shadow: 2px 2px rgb(0, 0, 0);
  
}
.presen{
  color: #f5b362;
}

#bottom-banner .btn{
  margin: 2em;
  font-weight: bold;
  padding: 1em;
}

#bottom-banner img{
  max-width: 275px;
}

#new-products-banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #101010;

}

#new-products-banner h3{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
  font-size: 2.5em;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

#new-products .col-md-4{
  padding: 0;

}

#new-produts .card img{
  height:150px ;
  width: 90px;
  margin: 2em auto;
}

#gallery .image-container{
  background-size: cover;
  background-position: center;
  height: 225px;
  cursor: pointer;
  transition: .5s;
  border: 3px solid #101010;
}

#gallery .image-container:hover {
    border-color: #c28e4d;
}

#insta1{
  background-image: url(####);
}
#insta2{
  background-image: url(####);
}
#insta3{
  background-image: url(####);
}
#insta4{
  background-image: url(####);
}
#insta5{
  background-image: url(####);
}
#insta6{
  background-image: url(####);
}


/* footer */


#footer-links-container{
  border-bottom: 1px solid #595b75;
}

#footer .footer-column{
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#footer-links-container h3{
  margin-bottom: 25px;
  text-transform: uppercase;
  text-shadow: 2px 2px rgb(0, 0, 0);
  }

#footer-links-container li{
    font-size: 0.8em;
    text-align: center;
    text-shadow: 1px 1px rgb(0, 0, 0);
  }

  #footer-links-container a{
    text-decoration: none;
  }
  #footer-links-container a:hover {
    color: #f7d5ad;
  }

  #footer-center{
    border-left:1px solid #626262 ;
    border-right:1px solid #626262;
    text-shadow: 1px 1px rgb(0, 0, 0);
  }
  #footer-center h3{
    font-weight: 900;
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

  #footer-center .store-phone{
    color: #707bf5;
    font-weight: bold;
    font-size: 2em;
    margin-top:-15px ;
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

  /* news */

  #newsletter-container{
    background-color: #101010;
    border-bottom: 1px solid #626262;
    text-align: center;
    padding: 20px;
  }

  #news-form{
    max-width: 600px;
    margin: 15px auto;
  }

  #news-form i{
    font-size: 1.5em;
  }

  #news-form .btn{
    color:#fff ;
  }

  #social-container{
    margin: 20px auto;
  }

  #social-container i {
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
    color: #626262;
    transition: 0.3s;
  }

  #social-container i:hover{
    color: #f5b362;
  }


  #copy-container{
    text-align: center;
    padding: 30px;
  }






/* MEDIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */
@media (min-width: 768px) {
  #search-form{
    width: 50%;
    margin: 0;
  }

  #navbar-items {
    min-width: 80%;
    display: flex;
  }

  .navbar-brand {
    text-align: left;
  }

  #slider .carousel-item,
  #slider img {
    height: 600px;
  }

  .carousel-caption {
    left: 23%;
    right: 23%;
  }


  .carousel-caption h5 {
    font-size: 4em;
  }

  #mini-banners .col-12 {
    max-width: 30%;
  }

  .title{
    text-align: left;
  }

  #bottom-banner h2{
    font-size: 6em;
  }

  #footer .footer-column{
    padding:5em 2em ;
  }

  

}
