:root {
  --cor1: #363b75;
  --cor2: #bbc0f7;
  --cor3: #707bf5;
  --cor4: #595b75;
  --cor5: #5962c2;
  --cor6: #75562f;
  --cor7: #f7d5ad;
  --cor8: #f5b362;
  --cor9: #756552;
  --cor10: #c28e4d;

  --cor11: #fff;
  --cor12: #fcf5eb;
  --cor13: #101010;
  --cor14: #252525;
}

* {
}

body {
  background-color: #252525;
  color: #fff;
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #bbc0f7;
}

.light-bg-color {
  background-color: #fff;
}

.dark-bg-color {
  background-color: #101010;
}
.primary-color {
  color: #707bf5;
}

.secondary-color {
  color: #252525;
}

.light-color {
  color: #fcf5eb;
}

/* NAV */
#navbar .navbar-nav {
  flex-direction: row;
  justify-content: end;
}

#navbar .navbar-nav li {
  margin-left: 1em;
}

#navbar a,
#navbar button {
  color: #fcf5eb;
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar span {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #5962c2;
  text-align: center;
}

#bag-item span {
  left: 20px;
}

.navbar-brand {
  font-weight: 700;
  width: 100%;
  text-align: center;
}

#navbar-items{
  justify-content: space-between;
}

#search-form{
  width: 100%;
  margin: 2em 0;
 
}
#search-form input{
   background-color: transparent;
  border: none;
  color: #fff;
}

#



/* NAV */

@media (min-width: 768px) {
  .navbar-brand {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    min-width: 80%;
    display: flex;
  }
}
@media (min-width: 768px) {
  #search-form {
    min-width: 50%;
    margin: 0;
}
